# 忽略所有.class文件
*.class
# 忽略所有日志文件
*.log
# 忽略所有锁文件
*.lock
# 忽略所有临时文件
tmp/

# 忽略所有jar\war\ear包
*.jar
*.war
*.ear

# 忽略idea默认创建的文件夹
.inde/
*.iml
*.ipr
*.iws
.classpath
.project
.settings/
bin/
*velocity.log*
.apt_generated
.factorypath
.springBeans

# 上传到gitee时，忽略一下路径的文件
**/mvnw
**/mvnw.cmd
**/.mvn
# 忽略所有默认字节码相关文件夹
**/target/
.idea
**/.gitignore
**/src/test/



